# Gradle
.gradle/
.project
.classpath
.settings/
bin/
doc/
build/
store/

# Test
.tmp
ipfs.json
onedrive.json

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
gradle.properties
local.properties

# Output file when rendering ReadMe.md locally.
/ReadMe.html

# editor temp files
*~

# macOS
*.DS_Store
