# Gradle
.gradle/
.project
.classpath
.settings/
bin/
doc/
build/
data/
store/
didCache/

# Test
.tmp
ipfs.json
onedrive.json
src/test/resources/local/cache/

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
gradle.properties
local.properties

# Output file when rendering ReadMe.md locally.
/ReadMe.html

# editor temp files
*~

# macOS
*.DS_Store

/src/main/java/org/elastos/hive/SdkVersion.java
